<header class="menu-principal">       
  <main>
      <div class="header-1">
          <div class="logo">
              <img src="/assets/img/logo.png" width="170px" height="120px" >   
        <div class="redes-sociais" color ="dark">
              <ul>
                  <li>
                      <a href="">
                          <img src="assets/img/rss.png" />
                      </a>
                 </li>
                  <li>
                      <a href="https://pt-br.facebook.com/">
                          <img src="assets/img/face.png" />
                      </a>
                  </li>
                  <li>
                      <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D">
                          <img src="assets/img/tw.png" />
                      </a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/login/pt">
                          <img src="assets/img/linkedin.png" />
                      </a>
                  </li>
              </ul>
          </div>   
          </div>
        </div>
          </main>
          
         
     
  
</header>
<main class="col-100 menu-urls">
  <div class="header-2">
      <div class="menu">
          <ul>
              <li>
                  <a href="">Comprar</a>
              </li>
              <li>
                  <a href="">Vender</a>
              </li>
              <li>
                  <a href="">Corretores</a>
              </li>
              <li>
                  <a href="">Mais</a>
              </li>
              <li>
                  <a href="">Blog</a>
              </li>
              <li>
                  <a href="">Entre em </a>
              </li>
          </ul>
      </div>

      <div class="busca">
          <input placeholder="Search Something" type="text">
      </div>
  </div>
</main>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/banner.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/banner.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/banner.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>




<div class="container" background-color="primary">
  <div class="row">
    <div class="col-sm-12 text-dark text-center my-3">
  <h1>Nossas casas. seus sonhos</h1>
</div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
     <div id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/img2.jpg" class="d-block" width="500px" height="400px" alt="...">
                 </div> 
    <div class="carousel-item">
      <img src="assets/img/img2.1.jpg" class="d-block" width="500px" height="400px"alt="...">
    </div>
  </div>
</div>
      <div class="card-body">
        <h5 class="card-title">R$ 546.000</h5>
        <p class="card-text">
Apartamento
1º andar, 

69 m²
R$ 7.913 /m², 

1 quarto, 
1 suíte, 

1 vaga, 

1 Banheiro, 

Tardes de sol
na sala

2 Varandas

Portaria
24h</div>
<button type="button" class="btn btn-danger">Alugar</button>
    </div>
  </div>
 <div class="col">
    <div class="card h-100">
     <div id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/img3.jpg" class="d-block" width="500px" height="400px"alt="...">
                 </div> 
    <div class="carousel-item">
      <img src="assets/img/img31.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
     <div class="carousel-item">
      <img src="assets/img/img32.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
  </div>
</div>
      <div class="card-body">
        <h5 class="card-title">R$ 546.000</h5>
        <p class="card-text">
Apartamento
1º andar, 

69 m²
R$ 7.913 /m², 

1 quarto, 
1 suíte, 

1 vaga, 

1 Banheiro, 

Tardes de sol
na sala

2 Varandas

Portaria
24h</div>
<button type="button" class="btn btn-danger">Alugar</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/casa5/img51.jpg" class="d-block" width="500px" height="400px" alt="...">
                 </div> 
    <div class="carousel-item">
      <img src="assets/img/casa5/img52.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
                 
    <div class="carousel-item">
      <img src="assets/img/casa5/img53.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
  </div>
</div>
      <div class="card-body">
        <h5 class="card-title">Rio Mar
          R$ 4.200.000,00</h5>
        <p class="card-text"> 4 Quartos 6 Banheiros 3 Vagas 475 m²</div>
          <button type="button" class="btn btn-danger">Alugar</button>
    </div>
  </div>
 
  <div class="col">
    <div class="card h-100">
     <div id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/casa3/img3.jpg" class="d-block" width="500px" height="400px"alt="...">
                 </div> 
    <div class="carousel-item">
      <img src="assets/img/casa3/img31.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
     <div class="carousel-item">
      <img src="assets/img/casa3/img32.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
  </div>
</div>
      <div class="card-body">
        <h5 class="card-title">Jardim Oceânico
          R$ 5.200.000,00</h5>
        <p class="card-text">
          Barra Da Tijuca

          4 Quartos 6 Banheiros 2 Vagas 372 m²
          <button type="button" class="btn btn-danger">Alugar</button>
        
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/img1.jpg" class="d-block" width="500px" height="400px" alt="...">
                 </div> 
    <div class="carousel-item">
      <img src="assets/img/img1.2.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
                 
    <div class="carousel-item">
      <img src="assets/img/img1.3.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
  </div>
</div>
      <div class="card-body">
        <h5 class="card-title">Condominio Monserrat R$350,00</h5>
        <p class="card-text">
          <button type="button" class="btn btn-danger">Alugar</button></div>
    </div>
  </div>
 
  <div class="col">
    <div class="card h-100">
     <div id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/casa4/img41.jpg" class="d-block" width="500px" height="400px"alt="...">
                 </div> 
    <div class="carousel-item">
      <img src="assets/img/casa4/img42.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
     <div class="carousel-item">
      <img src="assets/img/casa4/img43.jpg" class="d-block" width="500px" height="400px" alt="...">
    </div>
  </div>
</div>
      <div class="card-body">
        <h5 class="card-title">
          Riviera Del Sol
          R$ 2.500.000,00</h5>
          3 Quartos 6 Banheiros 2 Vagas 250 m² 
          <button type="button" class="btn btn-danger">Alugar</button>

        </div>
    </div>
   

  </div>
 
 