body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal {
    width: 100%;
    background-color: black;
    height: 120px;
    }
.main {
    margin: 0 auto;
    width: 98px;
    position: relative;
    }
 
       .redes-sociais ul li {
        margin-left: 15px;
        display: inline-block;
        float:left;
        list-style: none;
        }
        .redes-sociais {
            width: 15%;
            float: right;
            margin-top: 2%;
            
            }
            .header-2 {
                background-color: #ffffff;
                width: 980px;
                margin: 0 auto;
                padding: 18px;
                }
                .menu-urls {
                    height: 80px;
                    border-bottom: 3px solid #efefef;
                    }
    
                    .menu ul li {
                        display: inline-block;
                        color: #8b8b8b;
                        margin-left: 15px;
                        height: 50px;
                        
                        
                    }
                    .menu ul li:hover {
                        border-bottom: 3px solid #00bac6;
                    }
                    
                    .menu ul li a:hover {
                        color: #00bac6;
                        
                    }
    
                    .menu ul li a {
                        color: #8b8b8b;
                        text-decoration: none;
                        font-size: 18px;
                        text-transform: uppercase;
                       
                    }
                    .menu {
                    width: 70%;
                    float: left;
                    }
                    .busca {
                        text-align: center;
                        width: 20%;
                        float: right;
                    }
                    .busca input {
                        background-image:  img src="assets/img/icone-search.png";
                        background-repeat: no-repeat;
                        height: 36px;
                        padding: 12px;
                        width: 190px;
                        margin-top: 10px;
                        background-position: 96%;
                        border: 1px solid #d6d6d6;
                    }
   
             